.DS_Store
node_modules/
dist/
now/
npm-debug.log
yarn-error.log
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/
node_modules
.hgsubstate
.firebaserc
firebase.json
functions
npm-debug.log
